{% extends "base.html" %}

{% block extrahead %}
<!-- Clarity tracking code for https://infocornouaille.github.io/nsi-cornouaille/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "cv7c1n3t9y");</script>
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{  page.title }}" />
<meta name="twitter:description" content="{{ page.meta.description }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.meta.description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />

<script type="application/ld+json">
    { "@context": "https://schema.org", 
     "@type": "BlogPosting",
     "headline": "{{  page.title }}",
     "image": "{{ page.meta.image }}",
     "datePublished": "{{ page.meta.date }}",
     "dateCreated": "{{ page.meta.date }}",
     "dateModified": "{{ page.meta.date }}",
     "description": "{{ page.meta.description }}",
       "author": {
        "@type": "Person",
        "name": "David Couronné",
        "url": "https://github.com/infocornouaille"
      }
     }
    </script>
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <p>
    <b>{{ page.meta.description }}</b>
  </p>
  {% include "partials/blog_metadata.html" %}
  <hr>
  {{ page.content }}
{% endblock %}