{% extends "base.html" %}

{% block extrahead %}
{% set title = config.site_name %}


<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "cv7e20f636");
</script>

{% if page and page.meta and page.meta.image%}
<meta name="twitter:card" content="summary_large_image" />
{% else%}
<meta name="twitter:card" content="summary" />
{% endif %}

{% if page and page.meta and page.meta.title %}
{% set title = title ~ " - " ~ page.meta.title %}


<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ page.meta.description }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ page.meta.description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />

{% elif page and page.title and not page.is_homepage %}
{% set title = title ~ " - " ~ page.title | striptags %}
{% endif %}

{% if page and page.meta and page.meta.title and page.meta.description %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ title }}",
      "description": "{{ page.meta.description }}",
      "provider": {
        "@type": "Organization",
        "name": "Lycée de Cornouaille - Quimper",
        "sameAs": "{{ page.canonical_url }}"
      }
    }
    </script>
    {% endif %}



{% endblock %}