{% extends "base.html" %}

{% block extrahead %}
{% set title = config.site_name %}

{% if page and page.meta and page.meta.image%}
<meta name="twitter:card" content="summary_large_image" />
{% else%}
<meta name="twitter:card" content="summary" />
{% endif %}

{% if page and page.meta and page.meta.title %}
{% set title = title ~ " - " ~ page.meta.title %}


<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ page.meta.description }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ page.meta.description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />

{% elif page and page.title and not page.is_homepage %}
{% set title = title ~ " - " ~ page.title | striptags %}
{% endif %}






{% endblock %}