

.md-typeset {
    
    font-size: 1rem;
   
}

.md-typeset :is(.admonition,details) {

    font-size: 1rem;
    
}

.md-nav {
    font-size: 0.8rem;
   
}

.center {
    display: block;
    margin: 0 auto;
}